/* padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* color scheme Spacegray Oceanic Dark
https://github.com/kkga/spacegray
*/

:root {
  --bg: rgb(28,31,38);
  --bg0: rgb(35, 40, 48);
  /* --bg-transparent: rgb(28,31,38,0.5); */
  --bg1: rgb(43, 48, 59);
  --fg: rgb(101, 115, 127);
  --selected: rgb(223, 225, 232);
  --line: rgb(51, 61, 70);
  --green: #a3be8c;
  --yellow: #ebcb8b;
  --red: #bf616a;
  --pink: #b48ead;
  --cyan: #8fa1b3;
  --toolbar-height: 3rem;
  --error: #ff6c28;
  --electric-blue: rgb(38, 194, 255);
  --dark-blue: #3164a7;
}

.highlight-command {
  color: var(--green);
}

.highlight-comment {
  color: var(--cyan);
}

.highlight-square-bracket {
  color: var(--red);
}

.highlight-curly-bracket {
  color: var(--pink);
}

.highlight-comment * {
  color: inherit;
}

.highlight-error {
  color: var(--error);
}