.hlight-bracket {
  /* background-color: var(--yellow); */
  /* border: 1px solid var(--yellow); */
  font-weight: bold;
  color: var(--yellow);
  text-decoration: overline;
}

.hlight-comment {
  color: var(--cyan);
}
.hlight-command {
  color: var(--green);
}
.hlight-curly-bracket {
  color: var(--pink);
}
.hlight-square-bracket {
  color: var(--red);
}

.hlight-comment * {
  color: inherit;
}

.gutter {
  min-width: 2rem;
  /* min-height: 100%; */
  /* height: max-content; */
  height: 100%;
  overflow-y: hidden;
  background-color: var(--bg1);
  /* opacity: 0.8; */
  margin: 0;
  display: flex;
  flex-flow: column;
  padding-bottom: 12px;
}

.line-number {
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  color: var(--fg);
  text-align: right;
}

.line-number-selected {
  color: var(--selected);
}
