<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>jura</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="css/dracula.css">

    <!-- icons -->
    <!-- <link rel="stylesheet" href="css/mfglabs_iconset.css"> -->

  </head>
  <body>
    some preview here!
    <div id="preview" style="background-color = var(--bg)">
      <canvas id="preview-pdf"></canvas>
    </div>
  </body>
</html>
