.browser-top-toolbar, .browser-bottom-toolbar {
  background-color: var(--bg);
  width: 100%;
}

.browser-inner {
  background-color: var(--bg0);
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 0.8rem;
}

/* file tree instructions */
/* Remove default bullets */
ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex; /* adapts width to fit its content */
  min-width: 100%;
}

li {
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  width: 100%;
  white-space: nowrap;
  padding:6px 0 6px 0;
}

/* Remove margins and padding from the parent ul */
#filetree {
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.arrow, .file {
  cursor: pointer;
  user-select: none;
}

/* create arrow */
.arrow::before {
  font-family: 'mfg_labs_iconsetregular';
  content: "\f006";
  color: var(--yellow);
  display: inline-block;
  margin-right: 6px;
  width: 1rem;
  text-align: center;
}

.arrow-down::before {
  content: "\f004";
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the arrow (with JavaScript) */
.active {
  display: block;
}

.file::before {
  font-family: 'mfg_labs_iconsetregular';
  font-size: 1rem;
  content: "\f04a";
  color: var(--green);
  display: inline-block;
  margin-right: 6px;
}

.main::after {
  font-family: 'mfg_labs_iconsetregular';
  font-size: 1rem;
  content: "\f031";
  color: var(--red);
  display: inline-block;
  margin-left: 6px;
}

.file-selected {
  background-color: var(--line);
  color: var(--selected);
}
