.editor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--bg1);
}

.wrap {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

/* .code-editor-overflow-x {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: max-content;
} */

.code-editor {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 24px;
  background-color: var(--bg1);
  color: var(--selected);
  padding-left: 0.5rem;
  /* border-radius: 12px; */
  outline: none;
  white-space: pre-wrap;
  min-height: 100%;
  height: max-content;
  min-width: 100%;
  width: max-content;
  white-space: nowrap;
}

.editor-top-div {
  background-color: var(--bg);
  width: 100%;
  text-align: center;
}

.editor-filename {
  vertical-align: middle;
  display: inline-block;
}
