.editor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  border-right: 4px solid var(--bg);
}

.code-editor {
  width: 100%;
  background-color: var(--bg1);
  color: var(--selected);
  padding-left: 0.5rem;
}

.tab-head {
  background-color: var(--bg);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: max-content;
  text-align: center;
  padding: 8px;
  display: inline-block;
  align-self: flex-end;
}

.editor-tab-text {
  padding: 12px;
  vertical-align: middle;
  display: inline-block;
}

.editor-tab-btn {
  vertical-align: middle;
  display: inline-block;
}
