/* padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: var(--bg);
  color: var(--fg);
  /* display: flex; */
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}



.float-right {float: right;}
.float-left {float: left;}

.footer {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  background-color: var(--bg);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  float: left;
  width: 80%;
  display: flex;
  height: calc(100vh - 3rem);
  border-left: 1px solid var(--bg);
}

.browser {
  float: left;
  width: 20%;
  height: calc(100vh - 3rem);
  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--line);
}

.disappear {display: none;}
.width-100 {width: 100%;}

.toolbar {
  width: 100%;
  min-height: 64px;
  background-color: var(--bg);
}

/* Style buttons */
.btn {
  background-color: var(--bg);
  border: 0px;
  /* border: var(--line) solid 2px; */ */
  border-radius: 4px;
  color: var(--fg);
  font-size: 20px;
  margin: auto;
  width: 38px;
  height: 38px;
  cursor: pointer; /* Mouse pointer on hover */
  display: inline-block;
  outline: none;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: var(--line);
}

.btn:active {
  color: var(--selected);
}
