body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: var(--bg);
  color: var(--fg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--comment);
  border-radius: 10px;

}

::-webkit-scrollbar {
    width: 6px;
}

.header {
  width: 100%;
  height: 60px;
}

.footer {
  width: 100%;
  height: 3rem;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px - 3rem);
}

.browser {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.editor {
  width: 40%;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  flex-flow: column;
}

.viewer {
  width: 40%;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  flex-flow: column;
}

.toolbar {
  width: 100%;
  height: 64px;
  background-color: black;
}

.browser-inner {
  flex-grow: 1;
  background-color: var(--bg);
  color: var(--fg);
  overflow-y: scroll;
  font-size: 14px;
}

.editor-inner {
  flex-grow: 1;
  width: 100%;
}

.file-name {
  text-align: center;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
}

.viewer-pdf {
  flex-grow: 1;
  height: 100%;
  overflow: scroll;
  background-color:  var(--bg);
  display: flex;
  flex-flow: column;
}

/* Style buttons */
.btn {
  background-color: var(--bg);
  border: var(--line) solid 2px;
  border-radius: 4px;
  color: var(--cyan);
  font-size: 26px;
  margin: auto;
  width: 48px;
  height: 48px;
  display: inline-block;
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: var(--line);
}


.page-div {
  align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-canvas{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

/* file tree instructions */
/* Remove default bullets */
ul, #filetree {
  padding-left: 1rem;
  list-style-type: none;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
}

/* Remove margins and padding from the parent ul */
#filetree {
  margin: 0;
  padding: 0.5rem;
  width: 90%;
}

.arrow, .file {
  cursor: pointer;
  user-select: none;
}

/* create arrow */
.arrow::before {
  /* content: "\25B6"; */
  font-family: 'mfg_labs_iconsetregular';
  content: "\f006";
  color: var(--yellow);
  display: inline-block;
  margin-right: 6px;
  width: 1rem;
  text-align: center;
}

.arrow-down::before {
  content: "\f004";
  /* \2002\f086 */
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the arrow (with JavaScript) */
.active {
  display: block;
}

.folder::before {
  font-family: 'mfg_labs_iconsetregular';
  content: "\f068";
  color: var(--yellow);
  display: inline-block;
  margin-right: 6px;
}

.file::before {
  font-family: 'mfg_labs_iconsetregular';
  content: "\f04a";
  color: var(--green);
  display: inline-block;
  margin-right: 6px;
}

.main::after {
  font-family: 'mfg_labs_iconsetregular';
  content: "\f031";
  color: var(--red);
  display: inline-block;
  margin-left: 6px;
}

.selected {
  background-color: var(--line);
}

.deselected {
  background-color: var(--bg);
}
