.viewer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  border-left: 1px solid var(--comment);
  background-color: var(--bg0);
}

.viewer-pdf {
  flex-grow: 1;
  background-color: var(--bg0);
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  margin-top: 16px;
}

.page-div {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-canvas{
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}
