.viewer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  border-left: 1px solid var(--comment);
  background-color: var(--bg0);
}

.viewer-top-div {
  width: 100%;
  /* height: 72px; */
  background-color: var(--bg);
  text-align: center;
  /* display: flex; */
  /* flex-flow: row; */
  /* align-items: center; */
}

.viewer-pdf {
  flex-grow: 1;
  background-color: var(--bg0);
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  margin-top: 16px;
}

.page-div {
  align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-canvas{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
